<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style8.css')}}">
    <title>Enter Source and Destination IP</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PCAP DATA</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('redirect_to_Summarization')}}">Summarization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('filter_protocol_page')}}">Protocol Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('filter_ip_page')}}">IP Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('filter_both_ip')}}">IP Visualization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-custom btn-lg mx-3" href="{{url_for('payload_data')}}">Data</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <form action="/payload_data" method="post">
        <label for="src_ip">Source IP:</label>
        <input type="text" id="src_ip" name="src_ip" required><br>

        <label for="dest_ip">Destination IP:</label>
        <input type="text" id="dest_ip" name="dest_ip" required><br>

        <input type="submit" value="Submit">
    </form>
    <br></br>
<footer class="footer mt-auto py-3 bg-light text-dark">

    <div class="container text-center">
        <span class="text-muted">PCAP Analyzer © 2023. All rights reserved.</span>
      </div>
    </footer>
   
</body>
</html>
